body{
    background:url("../image/oo.jpg");
    background-size: 100%;

}
tr #login_table{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;

}
#hello{

    display: inline-block;
}
#studBut{
    font: 16px Comic Sans MS;
    background: #f0f0ff;
    margin-left: 6%;
    border: 4px groove grey;
}
#subBut{

    font: 16px Comic Sans MS;
    background: #f0f0ff;
    margin-left: 4%;
    border: 4px groove grey;
}
#textStud8{
    font: 16px Comic Sans MS;
    background: #f0f0ff;
    width: 100px;
    color: black;
    box-shadow: black;
    border: 4px groove grey;

}
#textStud9{
    font: 16px Comic Sans MS;
    background: #f0f0ff;
    width: 100px;
    color: black;
    box-shadow: black;
    border: 4px groove grey;
}
#textStud10{
    font: 16px Comic Sans MS;
    background: #f0f0ff;
    width: 100px;
    color: black;
    box-shadow: black;
    border: 4px groove grey;


}
#textStud11{
    font: 15px Comic Sans MS;
    background: #f0f0ff;
    width: 100px;
    color: black;
    box-shadow: black;
    border: 4px groove grey;


}
#blockcreate1{
    margin-left: 12%;
}
.buttonstud{
    height:40px;
    width:200px;
    border:1px solid black;
    background:grey;

}

.button{

    background-color:#0000;
}
.login_form_container table#login_table {
    line-height: 40px;
    min-width: 350px;
    max-width: 1920px;
    text-align: center;
    width: 80%;
    font: 15px Comic Sans MS;
    background: #f0f0ff;
    color: black;
    border-spacing: 10px;
    position: relative;
    box-shadow: black;
    border: 5px groove grey;

}

.login_form_container {
    margin: 100px auto;
    width: 330px;


}
.table1{
    line-height: 40px;
    min-width: 350px;
    max-width: 1920px;

    width: 100%;
    font:18px Times New Roman;
    background: #f0f0ff;
    color: black;
    border-spacing: 0px;
    position: relative;
    box-shadow: #f0f0ff;
    border: 5px groove grey;

}
.table2{
    line-height: 40px;
    min-width: 350px;
    max-width: 1920px;
margin-top: -1%;
    width: 70%;
    font:18px Times New Roman;
    background: #f0f0ff;
    color: black;
    border-spacing: 0px;
    position: relative;
    box-shadow: #f0f0ff;
    border: 5px groove grey;

}
.login_form_container select{
    font: 13px Comic Sans MS;

}

.login_form_container table .caption {
    text-align: center;
    font-size: 20px;

    border-bottom: 4px groove #f0f0ff;

}
#row{

    font: 18px Comic Sans MS;
}
#row2{

    font: 18px Times New Roman;
}
#row3{

    font: 18px Times New Roman;
}
#row4{font: 18px Times New Roman;
}
.columStud1 {
    text-align: center;
    width:600px;
    font: 20px Times New Roman;
    background: #C4C4C4;

}
.columStud {

    width: 400px;
    margin-top: 30px;
text-align: center;
    font: 20px Times New Roman;
    background: #C4C4C4;

}
.textSub{
    cursor: pointer;
    background: #f0f0ff;
    margin-left:15%;
    width: 60%;
    font: 18px Comic Sans MS;
    color: black;
    display: block;
    text-align: center;
    margin-top: 30px;
    border: 5px groove grey;
}
.textStud1{
    cursor: pointer;
    background: #f0f0ff;
    margin-left:22%;
    width: 55%;
    font: 18px Comic Sans MS;
    color: black;
    display: block;
    text-align: center;
    margin-top: 30px;
    border: 5px groove grey;
}
.textStud1:hover{
    cursor: pointer;
    background: #f0f0ff;
    margin-left:22%;
    width: 55%;
    font: 18px Comic Sans MS;
    color: black;
    display: block;
    text-align: center;
    margin-top: 30px;
    border: 5px groove grey;
}
.textStud {
    margin-top: 20px;
    margin-left: 40%;
    background: #f0f0ff;
    width: 22%;
    height: 25px;
    font: 18px Times New Roman;
    color: black;
    display: block;
    text-align: center;
    border: 5px groove grey;

}
.textStu{
    margin-bottom: -10%;
    margin-left: 16%;
    background: #f0f0ff;
    width: 22%;

    font: 18px Times New Roman;
    color: black;
    display: block;
    text-align: center;
    border: 5px groove grey;
}
#textStu{
    margin-bottom: -20%;
    margin-left: 16%;
    background: #f0f0ff;
    width: 22%;

    font: 18px Times New Roman;
    color: black;
    display: block;
    text-align: center;
    border: 5px groove grey;
}

.textStu1{

    margin-top: 10%;
    margin-left: 5%;
    background: #f0f0ff;
    width: 22%;
    height: 25px;
    font: 18px Times New Roman;
    color: black;
    display: block;
    text-align: center;
    border: 5px groove grey;
}
#panel {
    margin-top: 50px;
    width: 70%;
    top: 220px;
    height: 10px;
}

#row1 {
    color: black;
    background: #C4C4C4;

}
a:hover{
    color: white;
    background: 	#696969;
    font: 20px Times New Roman;
}
#mainMenu:hover{ color:  white;
    background: #696969;
    }
#mainMenu1:hover{ color:  white;
    background: 	#696969;
}
#mainMenu2:hover{ color:  white;
    background: 	#696969;
}



a{

    color: black; /* Цвет текста */
    text-decoration: none;
    /* Поля вокруг текста */
    font: 20px Times New Roman;
    display:block;
}


#row3{
    font: 18px Times New Roman;

}
#row4{
    font: 18px Times New Roman;

}
#mainMenu2{

    margin-left: 76.7%;
    background-color:#f0f0f0;
margin-top: -57px;
    width: 4%;
    border: 5px groove grey;
    text-decoration: none;
    font: 15px Times New Roman;


}
#mainMenu1{
    margin-top: -57px;
    margin-left: 86%;
    background-color:#f0f0f0;
    text-align: center;
    width: 4%;
    border: 5px groove grey;
    text-decoration: none;
    font: 15px Times New Roman;


}
#mainMenu{
margin-left: 76.5%;
    margin-top: 15px;
    background-color:#f0f0f0;
    text-align: center;
    width: 8%;
    border: 5px groove grey;
    text-decoration: none;
    font: 17px Times New Roman;


}
#header {

    background-color:#f0f0f0;
    text-align: center;
    width:70%;
    border:5px groove grey;
    font:18pt Times New Roman;
    top:0%;
   margin-left: 20%;
    margin:auto;
    overflow:auto;
    margin-bottom: 30px;
}
form {
    display:block;
    margin-top: 0em;

}
#averageMark {
    font: 15px Comic Sans MS;
    width: 420px;
    height: 30px;
    margin-left: 4%;
}
#TermsStudBut {
    font: 12px Arial;
    left: 70%;
    top: 30%;
    width: 120px;
    height: 30px;
}
.btn-6d {

    background: #C4C4C4;

    border: 5px groove grey;
}
#iii{

    margin-top: -44%;

}
#comboStud {
    font: 14px Times New Roman;
    z-index: 3;
margin-top: -25%;
    width: 110px;
    height: 25px;
}
#textTerm:hover{

}

#textTermsStud {
    font: 15px Comic Sans MS;
    right: 40%;
    top: 30%;
    width: 160px;
    height: 30px;
}
.but1 {
    width: 300px;
    height: 30px;
    font: 12px Arial;
    margin-right: 40px;
    margin-bottom: 10px;
}


li {
    display: inline-block;
    list-style-type: none;
}


#but14 {
    background: #f0f0f0 ;
    width: 270px;
    height: 35px;
    font: 14px Comic Sans MS;

    border: 5px groove grey;


}
#but15 {
     background: #f0f0f0 ;
     width: 270px;
     height: 35px;
     font: 14px Comic Sans MS;

     border: 5px groove grey;


 }
#but16{
      background: #f0f0f0 ;
      width: 270px;
      height: 35px;
      font: 14px Comic Sans MS;
      border: 5px groove grey;


  }
#but14:hover{
    cursor: pointer;
    color: white;
    background: 	#696969;
}
#but15:hover{
     cursor: pointer;
     color: white;
     background: 	#696969;
 }
#but16:hover{
      cursor: pointer;
      color: white;
      background: 	#696969;
  }

#but23 {
    background: #f0f0f0 ;
    width: 255px;
    height: 35px;
    font: 14px Comic Sans MS;

    border: 5px groove grey;


}
#but32 {

    background: #C4C4C4;
    width: 25%;
    height: 35px;
    font: 25px bold Times New Roman;
    color: black;
    display: block;
    text-align: center;
    border: 5px groove grey;

    margin-bottom: -2%;
    margin-left: 13%;


}
#my1{

    width: 60.5%;


}
#but11{
    background: #f0f0f0 ;
    width: 166px;
    height: 20px;
    font: 14px Comic Sans MS;

    border: 5px groove grey;


}
#but1 {
    background: #f0f0f0 ;
    width: 255px;
    height: 35px;
    font: 14px Comic Sans MS;

    border: 5px groove grey;
}
#but61 {
    margin-top: 6px;
    background: #f0f0f0 ;
    width: 150px;
    height: 30px;
    font: 14px Comic Sans MS;

    border: 5px groove grey;
}
#but62 {
    background: #f0f0f0 ;
    width: 100px;
    height: 30px;
    font: 14px Comic Sans MS;
margin-top: 20px;
    border: 5px groove grey;
}
#but2 {
    background: #f0f0f0 ;
    width: 255px;
    height: 35px;
    font: 14px Comic Sans MS;
    border: 5px groove grey;
}
#but3 {
    background: #f0f0f0 ;
    width: 255px;
    height: 35px;
    font: 14px Comic Sans MS;

    border: 5px groove grey;

}
#but4 {
    background: #f0f0f0 ;
    width: 255px;
    height: 35px;
    font: 14px Comic Sans MS;

    border: 5px groove grey;

}

#but1:hover{
    cursor: pointer;
    color: white;
    background: 	#696969;
    }
#but2:hover{
    cursor: pointer;
    color: white;
    background: 	#696969;
}
#but3:hover{
     cursor: pointer;
     color: white;
     background: 	#696969;
 }
#but4:hover{
    cursor: pointer;
    color: white;
    background: 	#696969;
}

#but23:hover{
    cursor: pointer;
    color: white;
    background: 	#696969;
}

#col1{
    text-align:  center;
    background: #f0f0f0 ;
    width: 150px;
    height: 30px;
    font: 15px Times New Roman;
    margin-bottom: 10px;
    border: 3px groove grey;


}
#col2{
    text-align:  center;
    background: #f0f0f0 ;
    width: 150px;
    height: 30px;
    font: 15px Times New Roman;
    margin-bottom: 10px;
    border: 5px groove grey;


}
#col3{
    text-align:  center;
    background: #f0f0f0 ;
    width: 150px;
    height: 30px;
    font: 15px Times New Roman;
    margin-bottom: 10px;
    border: 5px groove grey;
}
#col4{
    text-align:  center;
    background: #f0f0f0 ;
    width: 150px;
    height: 30px;
    font: 15px Times New Roman;
    margin-bottom: 10px;
    border: 5px groove grey;
}


.buttonstud {
    border: 1.5px solid #333;
    background: #C4C4C4;
}
#termSelect {

    float: RIGHT;
    font: 15px Comic Sans MS;
    width: 350px;
    margin-top: 70px;
    margin-right: 100px;
}
#tableDisc1{

    float: left;
    width: 600px;
    margin-top: -100px;
    margin-right: 10px;
}
#termSelect1 {

    margin-top: 120px;
    font: 15px Comic Sans MS;
    width: 350px;

}
#tableDisc2 {

    margin-left: -5%;
    margin-top: 120px;
    float: left;

margin-right: 20px;
    line-height: 40px;
    min-width: 350px;
    max-width: 1920px;
    text-align: center;
    width:50%;
    font: 20px Times New Roman;
    background: #f0f0ff;
    color: black;
    border-spacing: 0px;
    position: relative;
    box-shadow: #f0f0ff;;


}
#tableStud6 {

    width: 70%;
    margin-left: -200px;
    margin: 0 auto;
    font: 20px Times New Roman;
}
#tableStud {

    width: 70%;
    margin: 0 auto;
    font: 16px Times New Roman;
}
.support {
    display: inline-block;
    position: relative; /*обязательное параметр*/
    text-decoration: none;
    cursor: pointer;
}.support em {
     background: #FF6600;
     border-radius: 20px;
     border: 1px solid #999;
     text-align: center;
     color: #FFF;
     font: normal bold 16px Arial;
     padding: 0 4px;
 }acronym{
      background: #FF6600;
      border-radius: 20px;
      border: 1px solid #999;
      text-align: center;
      color: #FFF;
      font: normal bold 16px Arial;
      padding: 0 4px;
      cursor:help;
  }

