body{
    background: url("../image/oo.jpg");
    background-size: 100%;

}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;

}
.buttonstud{
    height:40px;
    width:200px;
    border:1px solid black;
    background:grey;

}

.button{

    background-color:#0000;
}
.login_form_container table#login_table {
    width: 100%;

    line-height: 40px;
    background-color:#f0f0f0;
}

.login_form_container {
    margin: 100px auto;
    width: 330px;


}

.login_form_container select{
    font: 13px Comic Sans MS;

}

.login_form_container table .caption {
    text-align: center;
    font-size: 20px;

    border-bottom: 4px groove #f0f0ff;

}
.columStud {

    background: #C4C4C4;
    padding: 0px;
    border-spacing: 0px;
}
.textStud {
    font: 20px Comic Sans MS;
    margin-bottom: 30px;
    color: darkgray;
    width: 80%;
    display: block;
    text-align: center;
    margin-top: 30px;
}
#row1 {
    color: black;
    background: #C4C4C4;
    padding: 0px;
    border-spacing: 0px;
}
table{
    min-width: 350px;
    max-width: 1920px;
    text-align: center;
    width: 80%;
    font: 15px Comic Sans MS;
    background: #f0f0ff;
    color: black;
    border-spacing: 0px;
    position: relative;
    box-shadow: #d1eeff;
    border: 4px groove grey;
    border-radius:10px 10px;

}



#header {
    background-color:#f0f0f0;
    text-align: center;
    width: 80%;
    border: 4px groove grey;
    border-radius:10px 10px;
    font: 18pt Comic Sans MS;
    top: 0%;
    left: 18%;
    margin:  auto;
    overflow:auto;
    margin-bottom: 30px;
}
form {
    display:block;
    margin-top: 0em;

}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    list-style-type: none;
}
#but1 {
    background: #f0f0f0 ;
    width: 300px;
    height: 30px;
    font: 12px Arial;
    margin-right: 40px;
    margin-bottom: 10px;
    border: 4px groove grey;
    border-radius:10px 10px;
}
#but2 {
    background: #f0f0f0 ;
    width: 300px;
    height: 30px;
    font: 12px Arial;
    margin-bottom: 10px;
    border: 4px groove grey;
    border-radius:10px 10px;

}
#but3 {
    background: #f0f0f0 ;
    width: 300px;
    height: 30px;
    font: 12px Arial;
    margin-right: 40px;
    margin-bottom: 10px;
    border: 4px groove grey;
    border-radius:10px 10px;
}
#but4 {
    background: #f0f0f0 ;
    width: 300px;
    height: 30px;
    font: 12px Arial;
    margin-bottom: 10px;
    border: 4px groove grey;
    border-radius:10px 10px;
}
.buttonstud {
    border: 1.5px solid #333;
    background: #C4C4C4;
}
#tableStud {
    width: 80%;
    margin: 0 auto;
}
.support {
    display: inline-block;
    position: relative; /*обязательное параметр*/
    text-decoration: none;
    cursor: pointer;
}.support em {
     background: #FF6600;
     border-radius: 20px;
     border: 1px solid #999;
     text-align: center;
     color: #FFF;
     font: normal bold 16px Arial;
     padding: 0 4px;
 }acronym{
      background: #FF6600;
      border-radius: 20px;
      border: 1px solid #999;
      text-align: center;
      color: #FFF;
      font: normal bold 16px Arial;
      padding: 0 4px;
      cursor:help;
  }

